/*
    You can add your own custom styles here.
*/

/* Reduce size of link images */
.article-list--compact.links .article-image {
  max-height: 80px;
  max-width: 80px;
  overflow: hidden;
}

.article-list--compact.links .article-image img {
  max-height: 60px;
  max-width: 60px;
  object-fit: contain;
  width: auto;
  height: auto;
}